if SHIELD_KEYBALL39_PL || SHIELD_KEYBALL39_PR || SHIELD_KEYBALL39_DONGLE

config ZMK_KEYBOARD_NAME
	default "Keyball39 Dongle"

config ZMK_SPLIT
	default y

endif

if SHIELD_KEYBALL39_DONGLE

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif
