if SHIELD_KEYBALL39_RIGHT

config ZMK_KEYBOARD_NAME
	default "Keyball39"

endif

if SHIELD_KEYBALL39_DONGLE

config ZMK_KEYBOARD_NAME
	default "KBall39 Dongle"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
	default 2

config BT_MAX_CONN
	default 7

config BT_MAX_PAIRED
	default 7

endif

if SHIELD_KEYBALL39_LEFT || SHIELD_KEYBALL39_RIGHT || SHIELD_KEYBALL39_DONGLE

config ZMK_SPLIT
	default y
	
endif
