/*
 * SPDX-License-Identifier: MIT
 */

#include "keyball39.dtsi"
#include "keyball39_pmw3610.dtsi"

&kscan0 {
    col-gpios
        = <&pro_micro 4 GPIO_ACTIVE_HIGH>
        , <&pro_micro 5 GPIO_ACTIVE_HIGH>
        , <&pro_micro 6 GPIO_ACTIVE_HIGH>
        , <&pro_micro 7 GPIO_ACTIVE_HIGH>
        , <&pro_micro 8 GPIO_ACTIVE_HIGH>
        , <&pro_micro 9 GPIO_ACTIVE_HIGH>
        ;
};

/* ВАЖЛИВО:
 * keyball39_pmw3610.dtsi тут потрібен НЕ для роботи сенсора,
 * а щоб у devicetree існував label "&trackball" (бо він згадується у keymap).
 * Сам сенсор лишається disabled за замовчуванням у dtsi.
 */
